.row-header{
  height: 10vh;
  width: 100vw;
}
.row-main{
  height: 80vh;
  width: 100vw;
}
.row-footer{
  height: 10vh;
  width: 100vw;
}

.App {
  text-align: center;
  background-image : url(./Components/img/background.jpg);
  /* background-repeat : no-repeat; */
  /* background-size: cover; */
  width: 100vw; 
  background: fill;
  min-height: 100vmax;
}